<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h2>Thank You, <%= firstName %> <%= lastName %>!</h2>

      <div class="text-align">
        <p>We apprecitate your feedback!</p>
      </div>
      <div class="text-align">
        <p>Your feedback: <%= feedback %></p>
      </div>
      <div class="text-align">
        <a href="/feedback">Change Your feedback</a>
      </div>
    </div>
  </body>
</html>
