<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <a href="/logout" class="link link-logout">Logout</a>
    <div class="container">
      <div class="feedback-section">
        <h2>Thank You, <%= firstName %> <%= lastName %>!</h2>
        <h3>We appreciate your feedback!</h3>
        <h4>Feedback</h4>
        <div>
          <p class="feedback"><%= feedback %></p>
        </div>
        <div class="center-button">
          <a href="/feedback">Go Back to Form</a>
        </div>
      </div>
    </div>
  </body>
</html>
